@font-face {
    font-family: "Montserra";
    src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    font-family: Montserra;
}

blockquote{
    background-color: hsl(0, 0%, 80%);
    margin-inline-start: 0em;
    margin-inline-end: 0em;
}

.tab{
    float:right;
}